<!DOCTYPE html>
<html lang="en">
<head>
  	<!--- Basic Webpage needs
   	================================================== -->
    <meta charset="UTF-8">
	<meta name="description" content="Mapping the Holy Bible">

  	<!--- Mobile needs
   	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  	<!--- Stylesheet
   	================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
     filename='style.css') }}">

  	<!--- Logo Image
   	================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static',
	filename='bible-3840940.png') }}">
    <title>404 Page Not Found!</title>
</head>
<header>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/"><button type="button" class="btn btn-primary" aria-label="Left-Align" style="margin-top:50px; margin-bottom: 50px; height: 50px; margin-right: 50px">Go Home!</button></a>
    </div>

</header>
<body>

    <h1>Something went wrong! This page does not exist yet! (404)</h1>

</body>
</html>